{% extends "acao/_layouts/base.html" %}

{% block scripts %}
    <style>
        .chartWithOverlay {
            position: relative;
            width: 700px;
        }
        .overlay {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 60px;   /* chartArea top  */
            left: 180px; /* chartArea left */
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(monteCarloReal);
        google.charts.setOnLoadCallback(monteCarloPrevisao30);
        //google.charts.setOnLoadCallback(monteCarloPrevisao60);
        //google.charts.setOnLoadCallback(monteCarloPrevisao90);

        var previsao_futura = []
        previsao_futura.push(["{{ monte_carlo.1.previsao_futura|safe }}".replace('[', '' ).replace(']', '', ).split(',').map(Number)])
        previsao_futura.push(["{{ monte_carlo.3.previsao_futura|safe }}".replace('[', '' ).replace(']', '', ).split(',').map(Number)])
        
        
        var previsao_teste = []
        previsao_teste.push(["{{ monte_carlo.1.previsao_teste|safe }}".replace('[', '' ).replace(']', '', ).split(',').map(Number)]);
        previsao_teste.push(["{{ monte_carlo.3.previsao_teste|safe }}".replace('[', '' ).replace(']', '', ).split(',').map(Number)]);
        
        var valor_real = []
        valor_real.push(["{{ monte_carlo.1.valor_real|safe }}".replace('[', '' ).replace(']', '', ).split(',').map(Number)]);
        valor_real.push(["{{ monte_carlo.3.valor_real|safe }}".replace('[', '' ).replace(']', '', ).split(',').map(Number)]);
        

        var error = []
        error.push("{{  monte_carlo.1.erro|safe }}");
        error.push("{{  monte_carlo.3.erro|safe }}");

        //error = parseFloat(error).toFixed(2)
        indice_1 = "{{ monte_carlo.0|safe }}"
        indice_2 = "{{ monte_carlo.2|safe }}"
        console.log(indice_2)

        function monteCarloReal() {
           
            //console.log(monte_carlo[0].length)
            var id = ['monte_carlo_real_1', 'monte_carlo_real_2'];
            for(var i = 0; i < 2; i++){

                var v_real = valor_real[i][0]
                var p_teste = previsao_teste[i][0]

                var data = new google.visualization.DataTable();
                data.addColumn('number', 'value');
                data.addColumn('number', 'Valor previsto');
                data.addColumn('number', 'Valor Real');
                
                for(var x = 0; x < p_teste.length; x++){
                        data.addRows([  

                    [x+1,  p_teste[x], v_real[x]]
                    
                    ]);
                    
                }
            
                var options = {
                title: 'Valor Real | Previsão - Erro médio da previsão: '+ error[i],
                curveType: 'function',
                legend: { position: 'bottom' },
                explorer: { maxZoomOut: 6 },
                hAxis: {
                    title: 'Dias'
                    },
                vAxis: {
                    title: 'Valor (R$)'
                    }
                };

                var chart = new google.visualization.LineChart(document.getElementById(id[i]));

                chart.draw(data, options);
                console.log(id[i])

            }
            
            
        }

        function monteCarloPrevisao30() {
            var id = ['mc_prev_30_1', 'mc_prev_30_2'];

            for(var i = 0; i < 2; i++){

                
                var p_futura = previsao_futura[i][0]

                var data = new google.visualization.DataTable();
                data.addColumn('number', 'value');
                data.addColumn('number', 'Valor previsto');
              
                for(var x = 0; x < 30; x++){
                        data.addRows([  
    
                    [x+1,  p_futura[x]]
                    
                    ]);
                    
                }
            
                var options = {
                title: 'Previsão',
                curveType: 'function',
                legend: { position: 'center' },
                explorer: { maxZoomOut: 6 },
                width: 1000,
                height: 400,
                hAxis: {
                    title: 'Dias'
                  },
                vAxis: {
                    title: 'Valor (R$)'
                  }
                };
    
                var chart30 = new google.visualization.LineChart(document.getElementById(id[i]));
    
                chart30.draw(data, options);
                
            }

        }

        function monteCarloPrevisao60() {

            //console.log(monte_carlo[0].length)
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'value');
            data.addColumn('number', 'Valor previsto');
          
            for(var i = 0; i < 60; i++){
                    data.addRows([  

                [i+1,  previsao_futura[0][i]]
                
                ]);
                
            }
        
            var options = {
            title: 'Previsão',
            curveType: 'function',
            legend: { position: 'center' },
            explorer: { maxZoomOut: 6 },
            width: 1000,
            height: 400,
            hAxis: {
                title: 'Dias'
              },
            vAxis: {
                title: 'Valor (R$)'
              }
            };

            var chart60 = new google.visualization.LineChart(document.getElementById('monte_carlo_previsao_60'));

            chart60.draw(data, options);
        }

        function monteCarloPrevisao90() {

            //console.log(monte_carlo[0].length)
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'value');
            data.addColumn('number', 'Valor previsto');
          
            for(var i = 0; i < 90; i++){
                    data.addRows([  

                [i+1,  previsao_futura[0][i]]
                
                ]);
                
            }
        
            var options = {
            title: 'Previsão',
            curveType: 'function',
            legend: { position: 'center' },
            explorer: { maxZoomOut: 6 },
            width: 1000,
            height: 400,
            hAxis: {
                title: 'Dias'
              },
            vAxis: {
                title: 'Valor (R$)'
              }
            };

            var chart90 = new google.visualization.LineChart(document.getElementById('monte_carlo_previsao_90'));

            chart90.draw(data, options);
        }

    </script>

{% endblock %}

{% block conteudo %}
    <div class="row d-flex justify-content-center">
        <h3 class="display-6">Pesquiar ação na B3 para prever o preço</h3>
    </div>
    <div class="row">
        <div class="col-2"></div>

        <div class="col">
            <form method="GET" action="{% url 'get_acao_array' %}">
                {% csrf_token %}

                <div class="form-group" >
                    <input id="searchHome"  name='indice1' type="text" class="form-control form-control-lg" placeholder="Ex.: BOVA11.SA">
                </div>

                <div class="form-group" >
                    <input id="searchHome"  name='indice2' type="text" class="form-control form-control-lg" placeholder="Ex.: BOVA11.SA">
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-warning btn-lg">Buscar</button>
                </div>
            
            </form>
        </div>
            
        <div class="col-2"></div>
        
    </div>

    {% if monte_carlo %} 
        <div class="row">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="real-tab" data-bs-toggle="tab" data-bs-target="#real" type="button" role="tab" aria-controls="ral" aria-selected="true">Comparação de preço</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="dias30-tab" data-bs-toggle="tab" data-bs-target="#dias30" type="button" role="tab" aria-controls="dias30" aria-selected="false">Previsão para 30 dias</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="dias60-tab" data-bs-toggle="tab" data-bs-target="#dias60" type="button" role="tab" aria-controls="dias60" aria-selected="false">Previsão para 60 dias</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="dias90-tab" data-bs-toggle="tab" data-bs-target="#dias90" type="button" role="tab" aria-controls="dias90" aria-selected="false">Previsão para 90 dias</button>
                </li>
            </ul>

                    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="real" role="tabpanel" >
                    
                    <div id="monte_carlo_real_1" style="width: 1000px; height: 500px"></div>
                    <div id="monte_carlo_real_2" style="width: 1000px; height: 500px"></div>
                </div>
                <div class="tab-pane fade" id="dias30" role="tabpanel">
                    <div id="mc_prev_30_1" style="width: 1000px; height: 500px;"></div>
                    <div id="mc_prev_30_2" style="width: 1000px; height: 500px;"></div>

                </div>
                <div class="tab-pane fade" id="dias60" role="tabpanel" aria-labelledby="contact-tab">           
                    <div id="monte_carlo_previsao_60" style="width: 1000px; height: 500px;"></div>

                </div>
                <div class="tab-pane fade" id="dias90" role="tabpanel" aria-labelledby="contact-tab">
                
                    <div id="monte_carlo_previsao_90" style="width: 1000px; height: 500px;"></div>

                </div>
            </div>
        </div>

    {% endif %}

{% endblock %} 