{% extends "acao/_layouts/base.html" %}

{% block conteudo %}
    <div class="row d-flex justify-content-center">
        <h3 class="display-6">Pesquiar ação na B3 para prever o preço</h3>
    </div>
    <div class="row">
        <div class="col-2"></div>

        <div class="col">
            <form method="GET" action="{% url 'buscar_acao' %}">
                {% csrf_token %}

                <div class="form-group" >
                    <input id="searchHome"  name='busca' type="text" class="form-control form-control-lg" placeholder="Ex.: BOVA11.SA">
                </div>
            

            
            
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-warning btn-lg">Buscar</button>
                </div>
            
            </form>
        </div>
            
        <div class="col-2"></div>
        
    </div>

    
    {% if mcprev_json %} 
        <div class="row">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="real-tab" data-bs-toggle="tab" data-bs-target="#real" type="button" role="tab" aria-controls="ral" aria-selected="true">Comparação de preço</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="dias30-tab" data-bs-toggle="tab" data-bs-target="#dias30" type="button" role="tab" aria-controls="dias30" aria-selected="false">Previsão para 30 dias</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="dias60-tab" data-bs-toggle="tab" data-bs-target="#dias60" type="button" role="tab" aria-controls="dias60" aria-selected="false">Previsão para 60 dias</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="dias90-tab" data-bs-toggle="tab" data-bs-target="#dias90" type="button" role="tab" aria-controls="dias90" aria-selected="false">Previsão para 90 dias</button>
                </li>
            </ul>

                    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="real" role="tabpanel" >
                    
                    <canvas id="monte_carlo_real" width="300" height="300"></canvas>


                    <canvas id="productsChart" width="300" height="300"></canvas>

                </div>
                <div class="tab-pane fade" id="dias30" role="tabpanel">
                    <canvas id="monte_carlo_previsao_30" width="300" height="300"></canvas>


                </div>
                <div class="tab-pane fade" id="dias60" role="tabpanel" aria-labelledby="contact-tab">    
                    <canvas id="monte_carlo_previsao_60" width="300" height="300"></canvas>

                </div>
                <div class="tab-pane fade" id="dias90" role="tabpanel" aria-labelledby="contact-tab">
                
                    <canvas id="monte_carlo_previsao_90" width="300" height="300"></canvas>

                </div>
            </div>
        </div>

    {% endif %}

    <script>
        
        // inicio

        const  mcprevisao = JSON.parse({{ mcprev_json|safe }});

        console.log(mcprevisao)
        const mcprev_teste = mcprevisao.previsao_teste
        const mc_vreal = mcprevisao.valor_real
        const mc_prev_futura = mcprevisao.previsao_futura
        const error = (mcprevisao.erro).toFixed(2)

        const ctx = document.getElementById("productsChart");
        const index = []
        for(var i= 1; i< 91; i++)
            index.push(i)
        
        console.log(mcprev_teste)

        const productsChart = new Chart(ctx, {
            type: 'line',
            label: index,
            data: {
                datasets: [{
                    label: 'Previsão',
                    data: [10, 20, 30, 40, 50],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'x',
                scales: {
                  x: {
                    beginAtZero: true
                  }
                }
              }
            
        });

    </script>

{% endblock %} 

{% block scripts %}



{% endblock %}